.recommendations-bulbicon, .recommendations-articleicon, .recommendations-checkicon{
	background: url(recommendations-sprites.png) no-repeat;
}

.recommendations-bulbicon{
	background-position: -26px -13px ;
	width: 23px;
	height: 37px;
	float: left;
	margin: .15em .5em 0 0;
}

.recommendations-articleicon{
	background-position: -76px -11px ;
	width: 23px;
	height: 37px;
	float: left;
	margin: .15em .5em 0 0;
}

.recommendations-checkicon{
	background-position: -125px -12px ;
	width: 23px;
	height: 37px;
	float: left;
	margin: .15em .5em 0 0;
}

