.tasks-settingsicon, .tasks-personbox, .tasks-greencircle, .tasks-bluepersonicon, .tasks-activepersonicon, .tasks-activecircle{
	background: url(tasks-sprites.png) no-repeat;
}

.tasks-settingsicon{
	background-position: -29.00000762939453px -28px ;
	width: 20px;
	height: 20px;
	display: inline-block;
	float: right;
	margin: 1.6em 1em 0 0;
}

.tasks-personbox{
	background-position: -89.00000762939453px -18px ;
	width: 60px;
	height: 30px;
	float: right;
	display: inline;
}


.tasks-bluepersonicon{
	background-position: -79.00000762939453px -78px ;
	width: 20px;
	height: 20px;
	position: absolute;
	margin: .3em 0 0 .3em;
}

.tasks-bluepersonicon:hover {
	background-position: -80.00000762939453px -129px ;
	width: 20px;
	height: 20px;
	position: absolute;
	margin: .3em 0 0 .3em;
}

.tasks-greencircle{
	background-position: -24.00000762939453px -75px ;
	width: 24px;
	height: 24px;
	float: left;
	margin: .15em .5em 0 0;
}

.tasks-greencircle:hover{
	background-position: -24.00000762939453px -125px ;
	width: 24px;
	height: 24px;
	float: left;
	margin: .15em .5em 0 0;
}